fastapi
uvicorn
pandas
requests
python-dotenv
python-multipart
pydantic
httpx
typing
sqlalchemy[asyncio]
asyncpg
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
pydantic[email]
email-validator
openpyxl
langchain
openai
python-docx
PyPDF2
docx2txt
langchain-openai
sse-starlette
bcrypt==3.2.2
